.btn{
    background-color: aqua;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn:disabled{
    background-color: grey;
    cursor: not-allowed;
    color: none;
}