.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(227, 94, 17);
  color: white;
  /* position: fixed;
  width: 100%;
  
  margin-top: -10px;
 margin-bottom: 100px; */
}

.header .cart {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 10px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
}

.counter {
  background-color: rgb(219, 124, 29);
  border-radius: 40%;
  padding: 4px;
}

.cart:hover {
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
